/* Navigation */

#navbar {
    flex-direction: column;
}

#navbar ul li a {
    font-size: 1rem;
    padding: 0px 10px;
    padding-bottom: 8px;
}

/* Home Section */

#home {
    height: 370px;
    padding: 2px 68px;
}

#home::before {
    height: 480px;
}

#home p {
    font-size: 0.7rem;
}

/* Services Section */

#services {
    flex-direction: column;
}

#services .box img {
    width: 166px;
    height: 166px;
}

/* Clients Section */

#clients {
    flex-wrap: wrap;
}

#clients img {
    width: 129px;
    padding: 20px;
}

/* Contact */

#contact-box form {
    width: 80%;
}

/* Footer */

/* Utility Classes */

.h-primary {
    font-size: 18px;
}

.btn {
    font-size: 13px;
    padding: 4px 8px;
}